@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: radial-gradient(#b36529 2.5px, transparent 2.5px);
  background-size: 100px 100px;
  background-color: #0d1530;
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  background: #0d1530;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.logo {
  font-size: 2em;
  color: #fff;
}
.navbar .right-bar img {
  margin-left: 60px;
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.right-bar {
  align-items: center;
}
.navbar i {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
  margin-left: 30px;
}
.navbar i::after {
  content: '';
  position: absolute;
  top: -7px;
  left: -8px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #b36529;
  transform: scaleX(0);
  transition: 0.5s;
  z-index: -1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.navbar i:hover:after {
  color: #0d1530;
  transform-origin: left;
  transform: scaleX(1.0);
  -webkit-transform: scaleX(1.0);
  -moz-transform: scaleX(1.0);
  -ms-transform: scaleX(1.0);
  -o-transform: scaleX(1.0);
}
.right-bar {
  display: flex;
}
.search {
  display: flex;
  position: absolute;
  top: 25px;
  height: 40px;
  padding-top: 5px;
  margin-left: 210px;
}
.searchterm {
  background-color: #162938;
  border: none;
  outline-style: none;
  border-radius: 12px;
  padding-left: 20px;
  width: 450px;
  font-size: 20px;
}
.searchterm:focus {
  color: #8a8a8a;
}
.hashtag_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-top: -5px;
  padding-left: 25px;
  width: 100%;
  height: 40px;
  left: 240px;
  top: 95px;
  background-color: #0d1530;
}
.hashtag_container ul {
  padding-left: 40px;
  list-style-type: none;
}
.hashtag_container li {
  display: flex;
  float: left;
  margin-left: 40px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}
.hashtag_container p {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.hashtag_container button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}
.sidebar {
  position: absolute;
  top: 90px;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: #0d1530;
  padding-top: 40px;
  padding-left: 20px;
}
.add_product {
  display: flex;
  width: 180px;
  height: 60px;
  background-color: #777777;
  border-radius: 15px;
  border: none;
  align-items: center;
  justify-content: center;
}
.add_product ion-icon {
  font-size: 34px;
  color: #fff;
}
.add_product h2 {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}
.add_product p {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
}
.text_container ul {
  list-style-type: none;
}
.text_container li {
  display: flex;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
}
.text_container ion-icon {
  font-size: 25px;
  margin-right: 15px;
}
.profile-drawer {
  top: 100px;
  z-index: 1;
  position: fixed;
  right: 0;
  display: flex;
  transition: all .5s;
  transform: translateX(400px);
  -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);
  -ms-transform: translateX(400px);
  -o-transform: translateX(400px);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.profile-drawer.active {
  transform: translateX(0);
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 100vh;
  background-color: #091627;
  border: 1px solid rgba(13, 6, 69, 0.325);
  border-radius: 20px 0 0 20px;
  box-shadow: 12px 9px 30px -9px #ffffff38;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -ms-border-radius: 20px 0 0 20px;
  -o-border-radius: 20px 0 0 20px;
}
.profile-drawer .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  z-index: 1;
  cursor: pointer;
}
.profile-card img {
  margin-top: 30px;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile-card h2 {
  margin-top: 10px;
  margin-bottom: 60px;
  color: bisque;
  font-size: 18px;
  letter-spacing: 2px;
}
.profile-card i {
  color: burlywood;
}
.profile-card p {
  color: burlywood;
}
td {
  width: 50px;
}
tr {
  height: 40px;
}
td i {
  text-align: right;
}

.tombol-edit button {
  margin-top: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #b36529;
  padding: 10px 30px;
  border: 2px solid #b36529;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: all .5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.tombol-edit button:hover {
  background-color: transparent;
  border: solid 2px #b36529;
}
.tombol-edit button:active {
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}
.tombol-keluar button {
  margin-top: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #b32929;
  padding: 10px 30px;
  border: 2px solid #b32929;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: all .2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.tombol-keluar button:hover {
  transform: translateY(-0px);
  background-color: transparent;
  border: solid 2px #b32929;
  -webkit-transform: translateY(-0px);
  -moz-transform: translateY(-0px);
  -ms-transform: translateY(-0px);
  -o-transform: translateY(-0px);
}
.tombol-keluar button:active {
  background-color: transparent;
  border: solid 2px #b32929;
  transform: scale(.9);
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
}
a {
  text-decoration: none;
  color: blanchedalmond;
}
.item {
  position: relative;
  height: 100vh;
  padding-top: 150px;
}
.item h2 {
  margin-left: 415px;
  color: antiquewhite;
}
.item-page {
  padding-top: 16px;
  padding-left: 133px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100vw;
  height: 100%;
  gap: 20px;
  padding-right: 150px;
  margin-left: 280px;
  flex-wrap: wrap;
}
.item-card {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.5);
  max-width: 280px;
  height: 380px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
.item-card:hover {
  box-shadow: 0 1px 20px 5px rgba(255, 255, 255, 0.3);
}
.item-card button {
  color: #fff;
  background-color: transparent;
  border-radius: 5px;
  padding: 2px 5px;
  margin-bottom: 3px;
  cursor: pointer;
}
.check-item-button {
  border: 1px solid #fff;
}
.wishlist {
  border: none;
}
.item-card img {
  width: 100%;
}
.wishlist {
  background-color: transparent;
}
