@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #0d1530;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    background: #0d1530;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}
header img {
    height: 50px;
    width: auto;
}
.logo {
    font-size: 2em;
    color: #fff;

}

.navbar {
    align-items: center;
    display: flex;
  }
.navbar img {
    margin-left: 60px;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
  }
  .navbar a {
    font-family: 'Poppins',cursive;
    position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    transition: all .5s;
    transform: translateX(0);
}
.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 80px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .5s;
}
.navbar a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.navbar.active a {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
  }

.profile-drawer {
    top: 0;
    z-index: 99;
    position: fixed;
    right: 0;
    display: flex;
    transition: all .5s;
    transform: translateX(400px);
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }
  .profile-drawer.active {
    transform: translateX(0);
  }
  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 100vh;
    background-color: #091627;
    border: 1px solid rgba(13, 6, 69, 0.325);
    border-radius: 20px 0 0 20px;
    box-shadow: 12px 9px 30px -9px #ffffff38;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;
  }
  .profile-drawer .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 1;
    cursor: pointer;
  }
  .profile-card img {
    margin-top: 30px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .profile-card h2 {
    margin-top: 10px;
    margin-bottom: 60px;
    color: bisque;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .profile-card i {
    color: burlywood;
  }
  .profile-card p {
    color: burlywood;
  }
  td {
    width: 50px;
  }
  tr {
    height: 40px;
  }
  td i {
    text-align: right;
  }

  .tombol-edit button {
    margin-top: 120px;
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #b36529;
    padding: 10px 30px;
    border: 2px solid #b36529;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: all .5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }
  .tombol-edit button:hover {
    background-color: transparent;
    border: solid 2px #b36529;
  }
  .tombol-edit button:active {
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
  }
  .tombol-keluar button {
    margin-top: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #b32929;
    padding: 10px 30px;
    border: 2px solid #b32929;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: all .2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
  }

  .tombol-keluar button:hover {
    transform: translateY(-0px);
    background-color: transparent;
    border: solid 2px #b32929;
    -webkit-transform: translateY(-0px);
    -moz-transform: translateY(-0px);
    -ms-transform: translateY(-0px);
    -o-transform: translateY(-0px);
  }
  .tombol-keluar button:active {
    background-color: transparent;
    border: solid 2px #b32929;
    transform: scale(.9);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
  }

.navbar .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navbar .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}
.wrapper {
    position: fixed;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    -webkit-transition: transform .5s ease, height .2s ease;
    -moz-transition: transform .5s ease, height .2s ease;
    -ms-transition: transform .5s ease, height .2s ease;
    -o-transition: transform .5s ease, height .2s ease;
    margin-left: 37%;
    z-index: 99;
    top: 25vh;
}
.wrapper.active-popup {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.wrapper.active {
    height: 520px;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login  {
    transition: .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register  {
    transition: .18s ease;
    transform: translateX(0);
}
.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 1;
    cursor: pointer;
}
.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}
.remember-forgot {
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a {
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.login-btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover {
    text-decoration: underline;
}
.about {
    width: 100%;
    padding: 78px 0;
    background-color: #0d1530;
    margin: 0 0 5px 0;
}
.card img {
    height: auto;
    width: 350px;
    filter: grayscale();
    -webkit-filter: grayscale();
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.card img:hover {
    filter: none;
    -webkit-filter: none;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.about-text {
    position: relative;
    width: auto;
}
.about-text a {
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.about h1 {
    margin: 40px 0 80px 0;
    color: #fff;
    font-size: 50px;
}
.about-text h4 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.about-text span {
    color: #f90;
}
.about-text  h5{
    color: white;
    font-size: large;
    margin-bottom: 50px;
}
.about-text p {
    color: white;
    text-align: justify;
    width: 600px;
    margin-bottom: 30px;
}
.about-place {
    display: flex;
    flex-direction: row;
}
.main {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 100px;
    overflow: hidden;
}
.triangle-bg-left{
    position: absolute;
    width: 700px;
    margin-right: 90%;
    margin-top: 100px;
    z-index: 0;
}

.triangle-bg-right{
    position: absolute;
    width: 400px;
    margin-left: 60%;
    margin-top: 300px;
    z-index: 0;
}
.triangle-bg-mid{
    position: absolute;
    width: 200px;
    margin-right: 10%;
    margin-top: 10vh;
    z-index: 0;
}

/* Footer */
.footer {
    background-color: #07102e;
    padding: 70px 0;
}
.container {
    max-width: 100%;
    padding: 0 200px;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col img {
    width: 120px;
}
.footer-col h4 {
    font-size: 18px;
    color: #fff;
    font-family: 'Poppins', cursive;
    font-weight: 500;
    margin-bottom: 30px;
    position: relative;
}
.footer-col h4::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -10px;
    background-color: #ff4b2b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    text-decoration: none;
    font-family: 'Poppins';
    color: #bbbbbb;
    display: block;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.footer-col ul li a:hover {
    padding-left: 10px;
    color: #fff;
}
.footer-col ul {
    list-style-type: none;
}
.footer-col .social-links a {
    color: #fff;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #0d1530;
    text-align: center;
    font-size: 20px;
    line-height: 44px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.footer-col .social-links a:hover {
    background-color: #fff;
    color: #0d1530;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
