@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
body {
  background-color: #0d1530;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}
header img {
  height: 50px;
  width: auto;
}
.logo {
  font-size: 2em;
  color: #fff;

}

.navbar {
    align-items: center;
    display: flex;
  }
.navbar img {
    margin-left: 60px;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
  }
  .navbar a {
    font-family: 'Poppins',cursive;
    position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    transition: all .5s;
    transform: translateX(0);
}
.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 80px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .5s;
}
.navbar a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.navbar.active a {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
  }

.profile-drawer {
    top: 0;
    z-index: 99;
    position: fixed;
    right: 0;
    display: flex;
    transition: all .5s;
    transform: translateX(400px);
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }
  .profile-drawer.active {
    transform: translateX(0);
  }
  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 100vh;
    background-color: #091627;
    border: 1px solid rgba(13, 6, 69, 0.325);
    border-radius: 20px 0 0 20px;
    box-shadow: 12px 9px 30px -9px #ffffff38;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;
  }
  .profile-drawer .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 1;
    cursor: pointer;
  }
  .profile-card img {
    margin-top: 30px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .profile-card h2 {
    margin-top: 10px;
    margin-bottom: 60px;
    color: bisque;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .profile-card i {
    color: burlywood;
  }
  .profile-card p {
    color: burlywood;
  }
  td {
    width: 50px;
  }
tr {
    height: 40px;
}
td i {
    text-align: right;
}

.tombol-edit button {
    margin-top: 120px;
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #b36529;
    padding: 10px 30px;
    border: 2px solid #b36529;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: all .5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.tombol-edit a {
    text-decoration: none;
    color: #fff;
}
.tombol-edit button:hover {
    background-color: transparent;
    border: solid 2px #b36529;
}
.tombol-edit button:active {
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.tombol-keluar {
    text-decoration: none;
    margin-top: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #b32929;
    padding: 10px 30px;
    border: 2px solid #b32929;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: all .2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.tombol-keluar:hover {
    transform: translateY(-0px);
    background-color: transparent;
    border: solid 2px #b32929;
    -webkit-transform: translateY(-0px);
    -moz-transform: translateY(-0px);
    -ms-transform: translateY(-0px);
    -o-transform: translateY(-0px);
}
.tombol-keluar:active {
    background-color: transparent;
    border: solid 2px #b32929;
    transform: scale(.9);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
  }

.tombol-keluar a {
    text-decoration: none;
}

.navbar a {
  font-family: 'Poppins',cursive;
  position: relative;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  text-decoration: none;
}
.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 80px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .5s;
}
.navbar a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.navbar .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navbar .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}
.wrapper {
  position: fixed;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
  -webkit-transition: transform .5s ease, height .2s ease;
  -moz-transition: transform .5s ease, height .2s ease;
  -ms-transition: transform .5s ease, height .2s ease;
  -o-transition: transform .5s ease, height .2s ease;
  z-index: 99;
  font-family: 'Poppins',cursive;
  margin-top: 25vh;
  margin-left: 37%;
}
.wrapper.active-popup {
  transform: scale(1);
}
.wrapper.active {
  height: 560px;

}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.wrapper .form-box.login  {
  transition: .18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper.active .form-box.register  {
  transition: .18s ease;
  transform: translateX(0);
}
.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  z-index: 1;
  cursor: pointer;
}
.form-box h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #fff;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #fff;
  line-height: 57px;
}
.remember-forgot {
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
  font-size: .9em;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.login-btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.login-register {
  font-size: .9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}

/* Parallax */
.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#0075c7 0%, #0d1530 80%);
  overflow: hidden;
}
.parallax img {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  pointer-events: none;
  background-color: transparent;
}

/* Footer */
.footer {
  background-color: #07102e;
  padding: 70px 0;
}
.container {
  max-width: 100%;
  padding: 0 200px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col img {
  width: 120px;
}
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  font-family: 'Poppins', cursive;
  font-weight: 500;
  margin-bottom: 30px;
  position: relative;
}
.footer-col h4::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -10px;
  background-color: #ff4b2b;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  text-decoration: none;
  font-family: 'Poppins';
  color: #bbbbbb;
  display: block;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.footer-col ul li a:hover {
  padding-left: 10px;
  color: #fff;
}
.footer-col ul {
  list-style-type: none;
}
.footer-col .social-links a {
  color: #fff;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #0d1530;
  text-align: center;
  font-size: 20px;
  line-height: 44px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.footer-col .social-links a:hover {
  background-color: #fff;
  color: #0d1530;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Jumbotron */
.content {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0d1530;
  padding: 150px 100px 0 100px;
  flex-wrap: wrap-reverse;
}
.content .text {
  padding-right: 100px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.content h1 {
  font-size: 60px;
}
.content p {
  margin: 10px 0 10px 0;
  font-size: 20px;
  width: 600px;
  line-height: 1.4em;
  text-align: justify;
  padding-bottom: 30px;
}
.gambar-content {
  z-index: 1;
}
.check {
  background-color: #333333;
  width: 160px;
  height: 30px;
  border: 2px solid #333333;
  border-radius: 15px;
  transition: .5s ease;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-align: center;
}
.check:hover {
  transform: scale(1.1);
  border: 2px solid #ff4b2b;
  background-color: transparent;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.check a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* What we are */
.what-we-are {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 500px;
  background-color: #0d1530;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.what-we-are div div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.what-we-are h1 {
  font-size: 4em;
  max-width: 10em;
}
.what-we-are p {
  max-width: 15em;
  font-size: .8em;
}
.what-we-are p:nth-child(1) {
  text-align: right;
}
.what-we-are p:nth-child(2) {
  text-align: left;
}
.bar {
  width: .4em;
  height: 4em;
  background: linear-gradient(
    0deg, rgba(255, 75, 43,0) 0%,
    #ff4b2b 50%,
    rgba(255, 75, 43,0) 100%
  );
  margin: 0 20px;
}
/* Feature */
.feature-page {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 60px;
}
.feature h2 {
  color: #fff;
  font-family: 'Poppins';
  letter-spacing: 2px;
  text-align: center;
  font-size: 30px;
}
.feature-box {
  width: 200px;
  text-align: center;
  padding: 25px 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 15px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.feature-box h5 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: #ff4b2b;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.feature {
  width: 100%;
  align-items: center;
  justify-content:  center;
  gap: 50px;
  background-color: #0d1530;
  padding-bottom: 60px;
}

/* Value Card */
.value-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding-top: 20px;
  background-color: #0d1530;
}
.value-text {
  background-color: #0d1530;
  color: #fff;
  padding-top: 140px;
}
.value {
  width: 23%;
  min-width: 300px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
  margin: 15px 0;
  z-index: 1;
}
.value img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.value-desc {
  color: #fff;
  font-family: 'Poppins',cursive;
  text-align: center;
  padding: 10px 0;
}
.value-desc span {
  font-size: 22px;
}

/* Triangle */
.triangle-bg-left{
  position: absolute;
  width: 700px;
  margin-right: 90%;
  margin-top: 100px;
  z-index: 0;
}
.triangle-bg-right{
  position: absolute;
  width: 400px;
  margin-left: 60%;
  margin-top: 0px;
}
.triangle-bg-mid{
  position: absolute;
  width: 200px;
  margin-right: 10%;
  margin-top: 500px;
}

/* Services */
.services {
  font-family: 'Poppins';
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #0d1530;
  margin-bottom: 100px;
}
.heading {
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 0 100px;
}
.heading h2 {
  font-size: 35px;
  position: relative;
  display: inline-block;
}
.heading h2::before {
  content: '';
  background: linear-gradient(
    90deg, rgba(255, 75, 43,0) 0%,
    #ff4b2b 50%,
    rgba(255, 75, 43,0) 100%  );
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.1em;
  width: 100%;
  height: 5px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.heading p {
  font-size: 15px;
  text-align: left;
}
.services .heading {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2em;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 10em 0 0 0;
}
.card {
  width: 400px;
  color: #fff;
  padding: 1em;
  text-align: center;
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}

.services .card .light {
  border-radius: 50%;
  width: 6em;
  height: 6em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 40%;
  transform: translateY(-50%);
  filter: blur(25px);
  -webkit-filter: blur(25px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.services .card:nth-child(1) .light {
  background: #ff4b2b;
}
.services .card:nth-child(2) .light {
  background: #0075c7;
}
.services .card:nth-child(3) .light {
  background: #48fc8b;
}
.photo-grid {
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.photo-grid img {
  justify-content: center;
  width: 1325px;
  height: 300px;
}
